<div>
  <div class="header">
    <div class="logo"><%= image_tag 'ps_logo.png' %></div>
    <div class="header__title">Geradores de Energia</div>
  </div>

  <div class="searcher gradient">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Pesquisa simples</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Pesquisa Avançada</label>
      </div>
    </div>

    <div class="simple-form">
      <%= form_tag search_path, method: :get do |f|%>
        <%= text_field_tag :query %>
        <%= submit_tag 'Pesquisar'%>
      <% end %>
    </div>

    <div class="advanced-form">
      <%= form_tag advanced_search_path, method: :get do |f|%>
        <div class="flex">
          <div class='flex-col'>
            <%= label_tag :kwp_min  %>
            <%= number_field_tag :kwp_min %>
          </div>
          <div class='flex-col'>
            <%= label_tag 'Preço max'  %>
            <%= number_field_tag :price_max %>
          </div>
          <div class='flex-col'>
            <% options_manufacture = options_for_select([
              ['WEG', 'WEG'], ['Solar Group', 'Solar Group'],
              ['BYD', 'BYD'], ['Q CELLS', 'Q CELLS'], ['Trina Solar', 'Trina Solar']
              ]) %>
            <%= label_tag 'Fabricante'%>
            <%= select_tag :manufacturer, options_manufacture %>
          </div>
          <div class="flex-col">
            <% options_structure = options_for_select(PowerGenerator.structure_types.keys.map { |key| [key, key]}) %>
            <%= label_tag 'Tipo de estrutura'%>
            <%= select_tag :structure_type, options_structure %>
          </div>
          <%= submit_tag 'Buscar'%>
        </div>
      <% end %>
    </div>

  </div>

  <div>
    <h3>Filtros</h3>
    <%= button_to 'Preço', filter_price_path, method: :get %>
    <%= button_to 'KWP', filter_kwp_path, method: :get %>
  </div>

  <div id='freight_value'>
    <%= form_tag freight_value_path, method: :get do %>
      <%= number_field_tag :cep %>
      <%= submit_tag 'Buscar'%>
    <% end %>
  </div>

  <div class="container" >
    <% unless @power_generators.empty? %>
        <% @power_generators.each do |power_generator| %>
          <div class="box card power_generator-card">
            <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
            <div class="power_generator-card__body">
              <h2><%= power_generator.name.upcase %></h2>
              <p class="power_generator-card__price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
              <p><strong>Descrição: </strong><%= power_generator.description %></p>
            </div>
            <div>             
              <p>Frete: <%=number_to_currency(power_generator.get_freight(@state), unit: 'R$') %><p>
            </div>
          </div>
        <% end %>
        <%= paginate @power_generators%>
      <% else %>
        <p>Nenhum resultado encontrado!!</p>
      <% end %>
  </div>
</div>
