<section>
  <div class="header">
      <div class="logo"><%= image_tag 'ps_logo.png' %></div>
      <div class="header__title">Geradores de Energia</div>
  </div>

  <div>
    <%= link_to 'Voltar', root_path%>
  </div>

  <div class="box card power_generator-card">
    <%= image_tag @power_generator.image_url, class: 'power_generator-card__img' %>
    <div class="power_generator-card__body">
      <h2><%= @power_generator.name.upcase %></h2>
      <p class="power_generator-card__price"><%= number_to_currency(@power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
      <p><strong>Descrição: </strong><%= @power_generator.description %></p>
    </div>
  </div>

  <div>
      <div id='freight_value'  style='margin-top: 50px'>
        <h4>Informe o CEP</h4>
        <%= form_tag freight_value_power_generator_path(@power_generator), method: :get do %>
          <%= number_field_tag :cep %>
          <%= submit_tag 'Buscar'%>
        <% end %>
      </div>              
      <h4>Frete: <%=number_to_currency(@power_generator.get_freight(@state), unit: 'R$', precision: 2, :separator => ",", :delimiter => ".") %></h4>
  </div>
</section>